/** Reset some basic elements */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

/** Basic styling */

body {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/** Set `margin-bottom` to maintain vertical rhythm */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 15px;
}

.body__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body__container--content {
    padding: 0 32px;
}

/** `main` element */

main {
    display: block;
    /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/** Images */

img {
    max-width: 100%;
    vertical-align: middle;
}


/** Figures */

figure>img {
    display: block;
}

figcaption {
    font-size: 14px;
}


/** Lists */

ul,
ol {
    margin-left: 30px;
}

li>ul,
li>ol {
    margin-bottom: 0;
}


/** Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}


/** Variables */

body {
    --color-background: white;
    --color-foreground: #ebeef3;
    --color-text: rgb(38, 34, 41);
    --color-link-active: #897b97;
    --color-link-active-hover: #a691be;
    --color-link-old: #2a7ae2;
    --color-navbar: #201d24;
}

.filter-link-active {
    filter: invert(50%) sepia(8%) saturate(885%) hue-rotate(227deg) brightness(98%) contrast(88%);
}

.filter-white-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(314deg) brightness(106%) contrast(101%);
}

/** Links */

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: none;
}

.social-media-list a:hover {
    text-decoration: none;
}

.social-media-list a:hover .username {
    text-decoration: underline;
}


/** Buttons */

button {
    padding: 12px 23px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.1s ease-out;
    border-radius: 3px;
}

.filled {
    background: var(--color-link-active);
    border: solid 2px var(--color-link-active);
    color: white;
}

.filled:hover {
    background: var(--color-link-active-hover);
    border: solid 2px var(--color-link-active-hover);
    color: var(--color-background);
    transition: 0.01s ease-in;
}

.empty {
    background: var(--color-background);
    border: solid 2px rgb(109, 109, 109);
    color: #2b2b2b
}

.empty:hover {
    background: var(--color-link-active-hover);
    border: solid 2px var(--color-link-active-hover);
    color: var(--color-background);
    transition: 0.01s ease-in;
}


/** Blockquotes */

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote> :last-child {
    margin-bottom: 0;
}


/** Code formatting */

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}


/** Wrapper */

.wrapper {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper-sc {
    margin-bottom: 32px;
}


/** Icons */

.svg-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list li+li {
    padding-top: 5px;
}


/** Tables */

table {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: #3f3f3f;
    border-collapse: collapse;
    border: 1px solid #e8e8e8;
}

table tr:nth-child(even) {
    background-color: #f7f7f7;
}

table th,
table td {
    padding: 10px 15px;
}

table th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
    border-bottom-color: #c9c9c9;
}

table td {
    border: 1px solid #e8e8e8;
}


/** Site header */

.site-header {
    position: fixed;
    width: 100%;
    background: var(--color-navbar);
    align-self: center;
    z-index: 2;
}

.site-header--dummy {
    height: 71px;
}

@media screen and (max-width: 600px) {
    .site-header--dummy {
        display: none;
    }
}

.site-header-bottom {
    display: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    height: inherit;
    color: black;
    display: flex;
}

.site-title a {
    color: #111;
}

.site-title .author {
    font-size: 18px;
    font-weight: 500;
    display: block;
    letter-spacing: 0px;
    margin-left: 15px;
}

.site-title,
.site-title:visited {
    color: #424242;
}

.site-title .logo-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
    width: 36px;
    height: 65px;
}

.logo-wrapper-text {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.logo-wrapper-text .logo-name {
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 20px;
    letter-spacing: 0px;
}

.site-title .logo {
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.site-title img:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.site-nav {
    float: right;
}

.site-header-bottom .site-nav {
    display: flex;
    justify-content: space-between;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    display: flex;
    height: 65px;
    align-items: center;
    transition: 0.1s ease;
    color: var(--color-background);
    padding: 2px 15px;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 500;
}

.site-header .site-nav .page-link:hover {
    cursor: pointer;
    transition: 0.15s ease-in-out;
    border-bottom: solid 2px var(--color-foreground);
}

.site-nav .page-link:active {
    color: var(--color-link-active);
}

.link-active {
    border-bottom: solid 2px white;
}

.link-inactive {
    border-bottom: solid 2px var(--color-navbar);
}

.nav-right {
    display: flex;
}

@media screen and (max-width: 600px) {
    .site-header {
        display: none;
    }

    .site-header-bottom {
        display: block;
        min-height: 65px;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: var(--color-navbar);
        align-self: center;
        z-index: 2;
    }

    .nav-right {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }

    .nav-bar {
        display: block;
        align-items: center;
    }

    .site-nav {
        float: none;
    }
}


/** Site footer */

.site-footer {
    border-top: 1px solid #e8e8e8;
    background-color: var(--color-foreground);
    width: 100%;
}

.footer__container {
    margin: 0 auto;
    padding: 32px;
    overflow: auto;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-list li {
    margin-bottom: 2px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px;
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}

.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2));
}

@media screen and (max-width: 1000px) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2));
    }
}

@media screen and (max-width: 500px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2));
    }
}


/** Page content */

.page-content {
    padding: 64px 32px 32px 32px;
    flex: 1;
}

.post-content {
    padding: 24px 32px 16px 32px;
    flex: 1;
}

.page-heading {
    font-size: 32px;
}

.post-list-heading {
    font-size: 25px;
    font-weight: 700;
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list>li {
    margin-bottom: 30px;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link {
    display: block;
    font-size: 24px;
    font-weight: 500;
}

.post-gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 32px;
    grid-row-gap: 20px;
    list-style: none;
    margin-left: 0;
}

.post-gallery .cover {
    max-width: 480px;
    height: 300px;
    object-fit: cover;
    align-items: center;
}

.highlight-obj {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

.highlight-obj:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.highlight-obj .right {
    margin-left: 48px;
    text-align: justify;
}

.highlight-obj:nth-child(2n) .right {
    margin-left: 0px;
    margin-right: 48px;
}

.highlight-obj .cover {
    width: 100%;
    align-items: center;
} 

.highlight-obj .cover img {
    height: 220px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

/** Showcase */

.showcase {
    background-color: var(--color-background);
    display: flex;
    flex-grow: 1;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 32px;
}

.showcase-projects {
    background-color: var(--color-background);
    display: flex;
    flex-grow: 1;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.showcase-post {
    margin-top: 80px;
    background-color: var(--color-background);
    padding: 90px 0px 0 0;
}

.separator {
    margin: 20px 0px;
    border-bottom: 4px solid black;
    width: 5%;
    min-height: 4px;
}

.showcase p {
    margin: 0;
    padding: 0;
}

.showcase .regular-text {
    font-size: 20px;
    margin-bottom: -40px;
    font-weight: 500;
    align-items: center;
    margin-top: 10px;
}

.showcase .sub-title {
    font-size: 18px;
    font-weight: 400;
    width: 80%;
}

.showcase .large-text {
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -7px;
    color: var(--color-text);
}

.showcase-projects .regular-text {
    font-size: 20px;
    margin-bottom: -40px;
    font-weight: 500;
    align-items: center;
}

.showcase-projects .sub-title {
    font-size: 18px;
    font-weight: 400;
    width: 60%;
}

.showcase-projects .large-text {
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -7px;
    color: var(--color-text);
}

.showcase-post .regular-text {
    font-size: 20px;
    margin-bottom: -30px;
    font-weight: 500;
    align-items: center;
}

.showcase-post .sub-title {
    font-size: 18px;
    font-weight: 400;
    width: 60%;
}

.showcase-post .large-text {
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -7px;
    color: var(--color-text);
}

.profile {
    min-width: 400px;
}

@media screen and (max-width: 1200px) {
    .showcase {
        flex-direction: column-reverse;
        align-items: center;
    }

    .profile {
        min-width: 400px;
    }

    .profile img {
        object-fit: cover;
        object-position: 0 0;
        height: 450px;
    }
}

@media screen and (max-width: 400px) {
    .showcase .large-text {
        font-size: 4.5rem;
    }

    .profile {
        display: none;
    }

    .actions button {
        padding: 10px 16px;
        margin-top: 5px;
    }
}

/** Highlights */

.highlights {
    background-color: var(--color-foreground);
    padding: 60px 32px;
}

.highlights .hl {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.highlights .item {
    display: grid;
    grid-template-columns: 32px auto;
    grid-column-gap: 15px;
    width: 250px;
}

.highlights .item .icon img {
    width: 24px;
    height: 24px;
    color: var(--color-link-active);
}

.highlights .item .text {
    color: rgb(109, 109, 109);
    font-size: 0.9rem;
}

.highlights .item .text .title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--color-text);
}

@media screen and (max-width: 800px) {
    .highlights .hl {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .highlights .item {
        display: grid;
        grid-template-columns: 32px auto;
        grid-column-gap: 15px;
        width: 80%;
        margin-bottom: 25px;
    }
    .highlights .item:last-child {
        display: grid;
        grid-template-columns: 32px auto;
        grid-column-gap: 15px;
        width: 80%;
        margin-bottom: -15px;
    }
}


/** Posts */

.post-header {
    margin-bottom: 30px;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
}

@media screen and (max-width: 800px) {
    .post-title {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: 30px;
}

.post-content h2 {
    font-size: 32px;
}

@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size: 28px;
    }
}

.post-content h3 {
    font-size: 26px;
}

@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size: 22px;
    }
}

.post-content h4 {
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size: 18px;
    }
}


/** Syntax highlighting styles */

.highlight {
    background: #fff;
}

.highlighter-rouge .highlight {
    background: #eef;
}

.highlight .c {
    color: #998;
    font-style: italic;
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}

.highlight .k {
    font-weight: bold;
}

.highlight .o {
    font-weight: bold;
}

.highlight .cm {
    color: #998;
    font-style: italic;
}

.highlight .cp {
    color: #999;
    font-weight: bold;
}

.highlight .c1 {
    color: #998;
    font-style: italic;
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
}

.highlight .gd {
    color: #000;
    background-color: #fdd;
}

.highlight .gd .x {
    color: #000;
    background-color: #faa;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gr {
    color: #a00;
}

.highlight .gh {
    color: #999;
}

.highlight .gi {
    color: #000;
    background-color: #dfd;
}

.highlight .gi .x {
    color: #000;
    background-color: #afa;
}

.highlight .go {
    color: #888;
}

.highlight .gp {
    color: #555;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gu {
    color: #aaa;
}

.highlight .gt {
    color: #a00;
}

.highlight .kc {
    font-weight: bold;
}

.highlight .kd {
    font-weight: bold;
}

.highlight .kp {
    font-weight: bold;
}

.highlight .kr {
    font-weight: bold;
}

.highlight .kt {
    color: #458;
    font-weight: bold;
}

.highlight .m {
    color: #099;
}

.highlight .s {
    color: #d14;
}

.highlight .na {
    color: #008080;
}

.highlight .nb {
    color: #0086B3;
}

.highlight .nc {
    color: #458;
    font-weight: bold;
}

.highlight .no {
    color: #008080;
}

.highlight .ni {
    color: #800080;
}

.highlight .ne {
    color: #900;
    font-weight: bold;
}

.highlight .nf {
    color: #900;
    font-weight: bold;
}

.highlight .nn {
    color: #555;
}

.highlight .nt {
    color: #000080;
}

.highlight .nv {
    color: #008080;
}

.highlight .ow {
    font-weight: bold;
}

.highlight .w {
    color: #bbb;
}

.highlight .mf {
    color: #099;
}

.highlight .mh {
    color: #099;
}

.highlight .mi {
    color: #099;
}

.highlight .mo {
    color: #099;
}

.highlight .sb {
    color: #d14;
}

.highlight .sc {
    color: #d14;
}

.highlight .sd {
    color: #d14;
}

.highlight .s2 {
    color: #d14;
}

.highlight .se {
    color: #d14;
}

.highlight .sh {
    color: #d14;
}

.highlight .si {
    color: #d14;
}

.highlight .sx {
    color: #d14;
}

.highlight .sr {
    color: #009926;
}

.highlight .s1 {
    color: #d14;
}

.highlight .ss {
    color: #990073;
}

.highlight .bp {
    color: #999;
}

.highlight .vc {
    color: #008080;
}

.highlight .vg {
    color: #008080;
}

.highlight .vi {
    color: #008080;
}

.highlight .il {
    color: #099;
}


/*# sourceMappingURL=main.css.map */